@page "/books/create"

@using Client.Exceptions
@using Shared.DTOs.Authors
@using Shared.DTOs.Books
@using Shared.DTOs.Categories
@using Client.Interfaces.Api
@using Client.Services.UI
@using Client.Models

@inject IBookApiService BookService
@inject IAuthorApiService AuthorService
@inject ICategoryApiService CategoryService
@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject DialogService DialogService
@inject ToastService Toast

<PageHeader Title="Create Book">
    <Button Style="ButtonStyle.Default"
            Href="/books">
        Back to list
    </Button>
</PageHeader>

@if (editContext is null)
{
    <LoadingSpinner />
}
else
{
    <BookForm
        Model="model"
        Authors="authors"
        Categories="categories"
        EditContext="editContext"
        SubmitText="Create Book"
        OnSubmit="HandleSubmit" />
}

@code
{
    private CreateBookDto model = new()
    {
        Title = string.Empty
    };

    private EditContext? editContext;
    private ValidationMessageStore? messageStore;

    private List<AuthorDto> authors = [];
    private List<CategoryDto> categories = [];

    protected override async Task OnInitializedAsync()
    {
        editContext = new EditContext(model);
        messageStore = new ValidationMessageStore(editContext);

        authors = await AuthorService.GetAuthorsAsync();
        categories = await CategoryService.GetCategoriesAsync();
    }

    private async Task HandleSubmit()
    {
        messageStore!.Clear();

        try
        {
            await BookService.CreateBookAsync(model);
            
            await Toast.Success("Book created successfully.");

            Navigation.NavigateTo("/books");
        }
        catch (ApiValidationException ex)
        {
            foreach (var error in ex.ValidationProblem.Errors)
            {
                messageStore.Add(
                    new FieldIdentifier(model, error.Key),
                    error.Value);
            }

            editContext!.NotifyValidationStateChanged();
        }
        catch (Exception ex)
        {
            await Toast.Error(ex.Message);
        }
    }
}