@page "/books/edit/{Id:int}"

@using Client.Exceptions
@using Shared.DTOs.Authors
@using Shared.DTOs.Books
@using Shared.DTOs.Categories
@using Client.Interfaces.Api
@using Client.Services.UI
@using Client.Models

@inject IBookApiService BookService
@inject IAuthorApiService AuthorService
@inject ICategoryApiService CategoryService
@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject DialogService DialogService
@inject ToastService Toast

<PageHeader Title="Edit Book">
    <Button Style="ButtonStyle.Default"
            Href="/books">
        Back to list
    </Button>
</PageHeader>

@if (editContext is null)
{
    <LoadingSpinner />
}
else
{
    <BookForm
        Model="model"
        Authors="authors"
        Categories="categories"
        EditContext="editContext"
        SubmitText="Save changes"
        OnSubmit="SaveBook" /> 
}

@code
{
    private UpdateBookDto model = new()
    {
        Title = string.Empty
    };

    private EditContext? editContext;
    private ValidationMessageStore? messageStore;

    private List<AuthorDto> authors = [];
    private List<CategoryDto> categories = [];

    [Parameter]
    public int Id { get; set; }

    protected override async Task OnInitializedAsync()
    {
        editContext = new EditContext(model);
        messageStore = new ValidationMessageStore(editContext);

        authors = await AuthorService.GetAuthorsAsync();
        categories = await CategoryService.GetCategoriesAsync();

        var book = await BookService.GetBookByIdAsync(Id);

        if (book is null)
            return;

        model.Title = book.Title;
        model.Isbn = book.Isbn;
        model.PublishedYear = book.PublishedYear;
        model.AuthorId = book.Author.Id;
        model.CategoryId = book.Category.Id;
    }

    private async Task SaveBook()
    {
        messageStore!.Clear();

        try
        {
            await BookService.UpdateBookAsync(Id, model);

            await Toast.Success("Book updated successfully.");

            Navigation.NavigateTo($"/books/{Id}");
        }
        catch (ApiValidationException ex)
        {
            foreach (var error in ex.ValidationProblem.Errors)
            {
                var field = new FieldIdentifier(model, error.Key);
                messageStore.Add(field, error.Value);
            }

            editContext!.NotifyValidationStateChanged();
        }
        catch (Exception ex)
        {
            await Toast.Error(ex.Message);
        }
    }
}