<div class="flex justify-between items-center mb-6">
    <h1 class="text-3xl font-bold">
        @Title
    </h1>
    <div class="flex gap-2">
        @ChildContent
    </div>
</div>

@code{
    [Parameter]
    public string Title { get; set; } = "";

    [Parameter]
    public RenderFragment? ChildContent { get; set; }
}