@page "/"

<PageTitle>Home</PageTitle>

<div class="card bg-base-100 shadow-xl w-96">
    <div class="card-body">
        <h2 class="card-title">
            Library Management
        </h2>

        <p>
            Tailwind and DaisyUI are working.
        </p>

        <div class="card-actions justify-end">
            <button class="btn btn-primary">
                OK
            </button>
        </div>
    </div>
</div>
