@page "/categories/create"

@using Client.Exceptions
@using Shared.DTOs.Categories
@using Client.Interfaces.Api
@using Client.Services.UI
@using Client.Models

@inject ICategoryApiService CategoryService
@inject IJSRuntime JS
@inject NavigationManager Navigation
@inject DialogService DialogService
@inject ToastService Toast

<PageHeader Title="Create Category">
    <Button Style="ButtonStyle.Default"
            Href="/categories">
        Back to list
    </Button>
</PageHeader>

@if (editContext is null)
{
    <LoadingSpinner />
}
else
{
    <CategoryForm
        Model="model"
        EditContext="editContext"
        SubmitText="Create Category"
        OnSubmit="HandleSubmit" />
}

@code
{
    private CreateUpdateCategoryDto model = new()
    {
        Name = string.Empty
    };

    private EditContext? editContext;
    private ValidationMessageStore? messageStore;

    protected override async Task OnInitializedAsync()
    {
        editContext = new EditContext(model);
        messageStore = new ValidationMessageStore(editContext);
    }

    private async Task HandleSubmit()
    {
        messageStore!.Clear();

        try
        {
            await CategoryService.CreateCategoryAsync(model);
            
            await Toast.Success("Category created successfully.");

            Navigation.NavigateTo("/categories");
        }
        catch (ApiValidationException ex)
        {
            foreach (var error in ex.ValidationProblem.Errors)
            {
                messageStore.Add(
                    new FieldIdentifier(model, error.Key),
                    error.Value);
            }

            editContext!.NotifyValidationStateChanged();
        }
        catch (Exception ex)
        {
            await Toast.Error(ex.Message);
        }
    }
}