@implements IDisposable

@using Client.Services.UI
@using Client.Models
@inject ToastService Toast

<div class="toast toast-top toast-end z-50">
    @foreach (var toast in toasts)
    {
        <Toast Message="toast" />
    }
</div>

@code {
    private readonly List<ToastMessage> toasts = [];

    protected override void OnInitialized()
    {
        Toast.OnShow += ShowToast;
    }

    private async Task ShowToast(ToastMessage toast)
    {
        toasts.Add(toast);

        await InvokeAsync(StateHasChanged);

        await Task.Delay(toast.Duration);

        toasts.Remove(toast);

        await InvokeAsync(StateHasChanged);
    }

    public void Dispose()
    {
        Toast.OnShow -= ShowToast;
    }
}